server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

spring:
  application:
    name: ProfitFlow

  datasource:
    driver-class-name: ${SPRING_DATASOURCE_DRIVER:org.h2.Driver}
    url: ${SPRING_DATASOURCE_URL:jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL}
    username: ${SPRING_DATASOURCE_USERNAME:sa}
    password: ${SPRING_DATASOURCE_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

  flyway:
    baseline-on-migrate: true

springdoc:
  swagger-ui:
    path: /api/docs
    url: /v3/api-docs
    server-url: http://localhost:8080

cors:
  allowed-origins: "*"
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"

flyway:
  enabled: true
  locations: classpath:db/migration